.pokemon-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  
  .pokemon-container img {
    max-width: 150px;
  }
  
  .pokemon-container h2 {
    margin-top: 0;
  }
  
  .pokemon-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .pokemon-container li {
    margin-bottom: 5px;
  }